<div class="alert" onclick="openAlarm()">
    🦉HEILIGENVITA ÖFFNEN🦉
</div>

<div src="../assets/blasius_alarm.gif" id="home-alarm" class="hidden">
    <p>
        <i><u>Sieglinde 12:56</u></i> Die erste Ausgabe der Blasius wird emsig von unseren Bienchen in eure Hände und gegebenfalls eure Haustür gebracht. Alle Infos zur Zeitung findest du <a href="{{site.url}}/2020/11/01/1-invasion.html">hier</a>!<br>
        <i><u>Yngvar 3:55</u></i> Wir suchen kreative Kinder, die verrücktes kreieren wollen. Die Tauben <a href="{{site.url}}/contact">warten schon auf dich!</a><br>
        <i><u>Parabolius 10:22</u></i> Alle Ressourcen zum Aluhut-Basteln findest du endlich <a href="{{site.url}}/2020/11/19/basteln-mit-blasius-aluhut.html">hier</a>!<br>

    </p>
    <button onclick="hideAlarm()">OKAY</button>
</div>