 {%- if page_paths -%}
<nav class="site-nav ">
    <a href=" {{site.url}}/baumhaus.html ">
        <p><span>🪵 hause</span></p>
    </a>
    <a href=" {{site.url}}/about.html ">
        <p><span>🛸 hä was ist das</span></p>
    </a>
    <a href="{{site.url}}/support.html ">
        <p><span>💉 geldspritze</span></p>
    </a>
    <a href="{{site.url}}/contact.html ">
        <p><span>🕊️ brieftaube</span></p>
    </a>
    <a href="{{site.url}}/impressum.html ">
        <p><span>🐿️ impressum</span></p>
    </a>
</nav>
{%- endif -%}