<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " de " }}">

{%- include head.html -%}

<body>

    <div id="kapblasius">
        <h1>KAP BLASIUS</h1>
        <div class="banner-slider">
            <div id="treehouse-banner" class="banner">
                <p>Du gelangst an einen ruhigen Ort nicht weit von deiner Heimat. Es ist spät und die Sonne senkt sich am Horizont. Ein Gefühl der Hemmungslosigkeit zieht sich durch deine Magengrube und alberne Gedanken manifestieren sich als hautdurchdringende
                    Energien. Während sich der Himmel in tausend Farben deckt, hörst du Tierlaute in weiter Ferne. Auf einem Plateau entdeckst du ein Baumhaus. Du bist nicht allein.</p> <br>
                <a href="{{ site.url }}/baumhaus.html">>> Du gehst zum Baumhaus. [Epilepsie-Warnung]</a><br>
                <img id="left-eye" src="{{ site.url }}/assets/eyel.png">
                <img id="right-eye" src="{{ site.url }}/assets/eyer.png">
            </div>
            <div id="dove-banner" class="banner">
                <p>Entspannt wanderst du über eine Heide abstrakter Pflanzen. Der Duft, der Anblick - die Inspiration fließt durch alle Organe. Du verspürst ein Mittelungsbedürfnis, der schöpfenden Entität etwas mitzuteilen - deine Liebe, deinen Frust, deine
                    Sehnsucht nach Austausch und Erfahrung. Eine weiße Taube fliegt dir entgegen und kreist bis zur Landung um deinen Kopf herum. Plötzlich bemerkst du das Stück Papier, welches an deinem Schuh klebte. </p> <br> >> Oh Ärger, du hast deinen
                Stift vergessen! Die Taube wartet auf dich bis du einen gefunden hast. <br>
            </div>
            <div id="star-banner" class="banner">
                <p>Es ist schon deutlich spät und nach einem langen Tag legst du dich an einen Hang um die Sterne über dem Wasser zu beobachten. Der Moment scheint unendlich. Du versinkst in den schönsten Gedanken und bis neugierig was das Schicksal für
                    dich bereit hält. Ein Klimpern bahnt sich aus der Ferne an, als eine merkwürdige Schnecke nicht weit von dir einen kleinen Lagerplatz aufschlägt. Als du dich ihr nähern möchtest, fängt sie an in ihrem riesigen Koffer zu kramen. </p>
                <br> >> Sie scheint konzentriert zu sein. Genieß noch etwas die Aussicht. Wie stehen wohl deine Sterne?
            </div>
        </div>
    </div>

</body>

</html>