<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " de " }}">

{%- include head.html -%}
<body>

{%- include alert.html -%} 
    <div id="kapblasius">
        <h1>KAP BLASIUS</h1>
        <div class="wait-banner">
            <p>Du gelangst an einen ruhigen Ort nicht weit von deiner Heimat. Es ist spät und die Sonne senkt sich am Horizont. Ein Gefühl der Hemmungslosigkeit zieht sich durch deine Magengrube und alberne Gedanken manifestieren sich als hautdurchdringende Energien. Während sich der Himmel in tausend Farben deckt, hörst du Tierlaute in weiter Ferne. Auf einem Plateau entdeckst du ein Baumhaus. Du bist nicht allein. <a href="{{ site.url }}/baumhaus.html">Du gehst zum BAUMHAUS [Epilepsie-Warnung]</a>.</p> <br>
            <img id="left-eye" src="{{ site.url }}/assets/wait-eye.gif">
            <img id="right-eye" src="{{ site.url }}/assets/wait-eye.gif">
        </div>
    </div>

</body>

</html>